Importing the Dependencies

In [173]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

Data collection and processing

In [37]:
#loading the csv data into a pandas dataframe
heart_data = pd.read_csv('/content/heart.csv')

Making an instance of the label encoder to make all the data integer type

In [38]:
le=LabelEncoder()

In [39]:
heart_data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [40]:
heart_data.Sex=le.fit_transform(heart_data.Sex)
heart_data.ChestPainType=le.fit_transform(heart_data.ChestPainType)
heart_data.RestingECG=le.fit_transform(heart_data.RestingECG)
heart_data.ExerciseAngina=le.fit_transform(heart_data.ExerciseAngina)
heart_data.ST_Slope=le.fit_transform(heart_data.ST_Slope)

In [167]:
heart_data.head(20)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
5,39,1,2,120,339,0,1,170,0,0.0,2,0
6,45,0,1,130,237,0,1,170,0,0.0,2,0
7,54,1,1,110,208,0,1,142,0,0.0,2,0
8,37,1,0,140,207,0,1,130,1,1.5,1,1
9,48,0,1,120,284,0,1,120,0,0.0,2,0
10,37,0,2,130,211,0,1,142,0,0.0,2,0
11,58,1,1,136,164,0,2,99,1,2.0,1,1
12,39,1,1,120,204,0,1,145,0,0.0,2,0
13,49,1,0,140,234,0,1,140,1,1.0,1,1
14,42,0,2,115,211,0,2,137,0,0.0,2,0
15,54,0,1,120,273,0,1,150,0,1.5,1,0
16,38,1,0,110,196,0,1,166,0,0.0,1,1
17,43,0,1,120,201,0,1,165,0,0.0,2,0
18,60,1,0,100,248,0,1,125,0,1.0,1,1
19,36,1,1,120,267,0,1,160,0,3.0,1,1

In [168]:

heart_data.to_csv('pandas.csv',index=None)

In [43]:
heart_data['HeartDisease'].value_counts()

1    508
0    410
Name: HeartDisease, dtype: int64

Splitting the dataset into target and features by dropping the last column

In [44]:
X=heart_data.drop(columns='HeartDisease', axis=1)
Y=heart_data['HeartDisease']

Splitting the data into training data and test data

In [157]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=10)

In [141]:
X_test.shape

(184, 11)

Training the logistic regression model

In [158]:
model= LogisticRegression()

In [159]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation with accuracy score (Train *Data*)

In [137]:
X_train_prediction =model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [107]:
print("Accuracy is: ",training_data_accuracy*100,'%')

Accuracy is:  85.01362397820164 %

Model Evaluation with accuracy score (Test *Data*)

In [160]:
X_test_prediction =model.predict(X_test)
testing_data_accuracy= accuracy_score(X_test_prediction, Y_test)

In [161]:
print("Accuracy is: ",testing_data_accuracy*100,'%')

Accuracy is:  87.5 %

Building a Predictive system

In [ ]:
input_data=(43,0,1,120,201,0,1,165,0,0.0,2)
input_data_as_np=np.asarray(input_data)
# reshape the numpy array so the system can understand we want to predict for a single value, not every value!!
input_data_reshaped=input_data_as_np.reshape(1,-1)
final_prediction=model.predict(input_data_reshaped)
if (final_prediction[0] == 1):
  print("The person has the possiblity of heart disease")
else:
  print("The person does not have the possiblity of heart disease")